.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    background: #8c3444;
    color: #ecf1e0;
 background-image: linear-gradient(120deg, #c3053a, #d6e21b);
 margin-bottom: 0;
}
     .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
